.light-button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.light-button:hover{
    background-color: darkgray;
    color: white;
}
.error{
    color: red;
    cursor: pointer;
}
.error:hover{
    color: white;
    background-color:red;
}